<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Grid
	link(rel="stylesheet",type="text/css",href="css/grid.css")
body

	h1 Prueba Grid	

	aside aside
	footer footer
	main main
	header header

