<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Flexbox
	link(rel="stylesheet",type="text/css",href="css/style.css")
body

	header
		img.logo(src="http://lorempixel.com/120/120")
		ul
			li Item 1
			li Item 2
			li Item 3
			li Item 4
			li Item 5

	h1 Prueba Flexbox	

	.dado
		.cara-1
			.punto

		.cara-2
			.punto
			.punto

		.cara-3
			.punto
			.punto
			.punto

		.cara-4
			.columna
				.punto
				.punto
			.columna
				.punto
				.punto

		.cara-5
			.columna
				.punto
				.punto
			.columna
				.punto
			.columna
				.punto
				.punto

		.cara-6
			.columna
				.punto
				.punto
				.punto
			.columna
				.punto
				.punto
				.punto

	.flex-container
		.flex-item 1
		.flex-item 2
		.flex-item 1
		.flex-item 2
		img.flex-item(src="http://lorempixel.com/220/100")



	footer Desarrollado por mi
