<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Flexbox
	link(rel="stylesheet",type="text/css",href="css/style4.css")
body

	h1 Prueba Flexbox	4

	.content
		.item 1
		.item 2
		.item 3
		.item 4
		.item 5

