<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Flexbox 2
	link(rel="stylesheet",type="text/css",href="css/style2.css")
body


	h1 Prueba Flexbox 2
	
	.container
		.item 1
		.item 2
		.item 3
		.item 4


	